<div class="container">

    <div class="card" *ngFor="let solymp of summerOlympics">
        <div class="circle">
            <h2>{{solymp.year}}</h2>
        </div>
        <div class="content">
            <div class="text">
                <div>
                    <div class="first-text">
                        <p>City:</p>
                    </div>
                    <div class="second-text">
                        <p>{{solymp.city}}</p>
                    </div>
                </div>
                <div>
                    <div class="first-text">
                        <p>Country:</p>
                    </div>
                    <div class="second-text">
                        <p>{{solymp.nation}}</p>
                    </div>
                </div>
                <div>
                    <div class="first-text">
                        <p>Edition:</p>
                    </div>
                    <div class="second-text">
                        <p>{{solymp.olympiad}}</p>
                    </div>
                </div>
                <div>
                    <div class="first-text">
                        <p>Opening:</p>
                    </div>
                    <div class="second-text">
                        <p>{{solymp.opening}}</p>
                    </div>
                </div>
                <div>
                    <div class="first-text">
                        <p>Closing:</p>
                    </div>
                    <div class="second-text">
                        <p>{{solymp.closing}}</p>
                    </div>
                </div>
                <div>
                    <div class="first-text">
                        <p>Athletes:</p>
                    </div>
                    <div class="second-text">
                        <p>{{solymp.athletes}}</p>
                    </div>
                </div>
                <div>
                    <div class="first-text">
                        <p>Countries:</p>
                    </div>
                    <div class="second-text">
                        <p>{{solymp.countries}}</p>
                    </div>
                </div>
                <div>
                    <div class="first-text">
                        <p>Events:</p>
                    </div>
                    <div class="second-text">
                        <p>{{solymp.events}}</p>
                    </div>
                </div>
            </div>
            <a>Summer</a>
        </div>
    </div>
    <div class="card" *ngFor="let wolymp of winterOlympics">
        <div class="circle">
            <h2>{{wolymp.year}}</h2>
        </div>
        <div class="content">
            <div class="text">
                <div>
                    <div class="first-text">
                        <p>City:</p>
                    </div>
                    <div class="second-text">
                        <p>{{wolymp.city}}</p>
                    </div>
                </div>
                <div>
                    <div class="first-text">
                        <p>Country:</p>
                    </div>
                    <div class="second-text">
                        <p>{{wolymp.nation}}</p>
                    </div>
                </div>
                <div>
                    <div class="first-text">
                        <p>Edition:</p>
                    </div>
                    <div class="second-text">
                        <p>{{wolymp.olympiad}}</p>
                    </div>
                </div>
                <div>
                    <div class="first-text">
                        <p>Opening:</p>
                    </div>
                    <div class="second-text">
                        <p>{{wolymp.opening}}</p>
                    </div>
                </div>
                <div>
                    <div class="first-text">
                        <p>Closing:</p>
                    </div>
                    <div class="second-text">
                        <p>{{wolymp.closing}}</p>
                    </div>
                </div>
                <div>
                    <div class="first-text">
                        <p>Athletes:</p>
                    </div>
                    <div class="second-text">
                        <p>{{wolymp.athletes}}</p>
                    </div>
                </div>
                <div>
                    <div class="first-text">
                        <p>Countries:</p>
                    </div>
                    <div class="second-text">
                        <p>{{wolymp.countries}}</p>
                    </div>
                </div>
                <div>
                    <div class="first-text">
                        <p>Events:</p>
                    </div>
                    <div class="second-text">
                        <p>{{wolymp.events}}</p>
                    </div>
                </div>
            </div>
            <a>Winter</a>
        </div>

    </div>
</div>
